<div class="stats_div" data-layout-align="start center">
    <table class="stats">
        <tr>
            <td>{{totalFamilies ? (totalFamilies | number) : "..."}}</td>
            <td>total families</td>
        </tr>
        <tr>
            <td>{{curatedFamilies ? (curatedFamilies | number) : "..."}}</td>
            <td>curated families</td>
        </tr>
        <tr>
            <td>{{coveredSpecies ? (coveredSpecies | number) : "..."}}</td>
            <td>species</td>
        </tr>
    </table>
</div>