<div>
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Uncurated">
            <ng-template matTabContent>
                <dfam-chart [data]="datasets['uncurated']" [chart_id]="'uncurated'" [specs]="specs"></dfam-chart>
            </ng-template>
        </mat-tab>
        <mat-tab label="Curated">
            <ng-template matTabContent>
                <dfam-chart [data]="datasets['curated']" [chart_id]="'curated'" [specs]="specs"></dfam-chart>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>