// <form>
.search-form {
  min-width: 100px;
  max-width: 250px;
  width: 100%;
}

// <mat-form-field>
.full-width {
  width: 100%;
}

// <span> element color
.highlight {
  background-color: #a2c14d;
}

// Limit the sequence div's height and
// make scrollable.
.sequence-div {
  overflow-y:scroll; 
  overflow-x:visible; 
  max-height:113px;
}

// Sequence/number font
.seq-font {
  font-family: monospace;
}

