<div class='dfam-about' data-layout="row" data-flex-gt-sm="50" offset-gt-sm="25">
  <div data-layout="column">
    <h2>About Dfam</h2>
    <div>
      <p>
        Dfam is an open database of repetitive DNA elements organized around multiple 
        sequence alignments of TE families.  The seed alignment provides a 
        model-neutral representation of a sequence family from which both a traditional
        consensus sequence and a profile hidden Markov model (HMM) may be built.
        The early releases of Dfam used 
        <a href="http://www.repeatmasker.org" class="ext">RepeatMasker</a> and the 
        TE database, <a href="http://www.girinst.org/repbase" class="ext">Repbase</a> 
        to bootstrap the generation of these seed alignments.  For newly sequenced
        genomes, seed alignments may be obtained directly from de-novo repeat finders
        such as RepeatModeler.
      </p>
      <p>
        Dfam version 3.7 was produced at the
        <a href="http://www.systemsbiology.org/" class="ext"> Institute for Systems Biology</a> 
        and the <a href="http://www.arizona.edu" class="ext">University of Arizona</a>.
        In the past, Dfam contained full TE libraries for five model organisms:
        human [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=mammal&org=Human&db=hg38">hg38</a>], 
        mouse [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=mammal&org=Mouse&db=mm10">mm10</a>], 
        zebrafish [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=vertebrate&org=Zebrafish&db=danRer10">danRer10</a>], 
        worm [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=worm&org=C.+elegans&db=ce10">ce10</a>], 
        and fly [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=insect&org=D.+melanogaster&db=dm6">dm6</a>].
        It has grown significantly since then: Dfam includes full, curated TE libraries for over 200 mammals
        (indicated by "DF" accession numbers) and uncurated TE libraries ("DR" accession numbers)
        for over 2000 additional species.
      </p>
      <p>
        Dfam is growing. We are embarking on an effort to greatly expand the database using de-novo repeat identification pipelines, data sharing with other open-databases, and most importantly from direct community submissions.  If you have existing TE libraries or plan to develop one for a newly sequenced organism, consider making it a part of the Dfam database.  We can offer assistance with importing legacy datasets and are working on tools to facilitate community curation of the database.  Please contact us at <a href="mailto:help@dfam.org">help@dfam.org</a>.
      </p>
      <p>
        Dfam is freely available under the 
        <a href="http://creativecommons.org/publicdomain/zero/1.0/" class="ext">Creative Commons Zero</a> ("CC0") license.  This includes both the data and the software running the site (<a href="https://github.com/Dfam-consortium">https://github.com/Dfam-consortium</a>).  We welcome anyone wishing to contribute.
      </p>
      <p>
        Dfam also makes use of various third-party libraries, which have their
        own license terms.  The up-to-date list of these libraries is present
        in the Dfam-Portal project on GitHub in the package.json file.
      </p>
      <p>
        Dfam is powered by nhmmer, which is a part of the 
        <a class="ext" href="http://hmmer.org/">HMMER3</a> package and was written 
        by Travis Wheeler (University of Montana) and Sean Eddy (HHMI, Harvard University).
      </p>
      <p>
        Computational resources and support from the University of Montana’s
        Griz Shared Computing Cluster (GSCC) and the Texas Tech University
        computing cluster contributed to this research.
      </p>
      <hr>
    </div>
    <div>
      <h3>Dfam Consortium (past and present)</h3>
      <div data-layout="row" data-layout-align="start center">
        <a href="https://www.systemsbiology.org/">
          <img style="height:56px;width:130px;" src="assets/images/ISB_Logo.png" alt="ISB">
        </a>
        <ul>
          <li>Robert Hubley</li>
          <li>Arian Smit</li>
          <li>Jessica Storer</li>
          <li>Anthony Gray</li>
          <li>Jeb Rosen</li>
        </ul>
      </div>  
      <p></p>
      <div data-layout="row" data-layout-align="start center">
        <a href="http://cs.umt.edu">
        <img style="height:40px;width:130px;" src="assets/images/UA_logo.png" alt="UA">
        </a>
        <ul>
          <li>Travis Wheeler</li>
          <li>Cl&eacute;ment Goubert</li>
        </ul>
      </div>
      <p></p>
      <div data-layout="row" data-layout-align="start center">
        <a href="http://www.ebi.ac.uk/">
        <img style="height:60px;width:130px;" src="assets/images/ebi.jpeg" alt="EBI">
        </a>
        <ul>
          <li>Rob Finn</li>
        </ul>
      </div>
      <p></p>
      <div data-layout="row" data-layout-align="start center">
        <a href="http://www.mcb.harvard.edu/mcb/">
        <img style="height:35px;width:125px;" src="assets/images/harvard.png" alt="Harvard">
        </a>
        <ul>
          <li>Sean Eddy</li>
          <li>Tom Jones</li>
        </ul>
      </div>
      <p></p>
      <div data-layout="row" data-layout-align="start center">
        <a href="http://janelia.org">
        <img style="height:50px;width:130px;" src="assets/images/hhmi-janelia.png" alt="HHMI">
        </a>
        <ul>
          <li>Jody Clements</li>
          <li>Bill Arndt</li>
        </ul>
      </div>
      <p></p>
      <div data-layout="row" data-layout-align="start center">
          <a href="http://www.girinst.org/">
          <img style="height:35px;width:130px;" src="assets/images/giri-medium.jpg" alt="GIRI">
          </a>
        <ul>
          <li>Jerzy Jurka</li>
          <li>Weidong Bao</li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
