<div class='dfam-about' fxLayout="row" fxFlex="50" fxFlexOffset="25">
  <div fxLayout="column">
    <h2>About Dfam</h2>
    <div>
      <p>
        Dfam is a database of repetitive DNA elements organized around multiple 
        sequence alignments of TE families.  The seed alignment provides a 
        model-neutral representation of a sequence family from which both a traditional
        consensus seqeunce and a profile hidden Markov model (HMM) may be built.
        The early releases of Dfam used 
        <a href="http://www.repeatmasker.org" class="ext">RepeatMasker</a> and the 
        TE database, <a href="http://www.girinst.org/repbase" class="ext">Repbase</a> 
        to bootstrap the generation of these seed alignments.
      </p>
      <p>
        Dfam version 3.0 was produced at the 
        <a href="http://www.systemsbiology.org/" class="ext"> Institute for Systems Biology</a> 
        and the <a href="http://www.cs.umt.edu" class="ext">Univerity of Montana</a> 
        and contains full TE libraries for five model organisms: 
        human [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=mammal&org=Human&db=hg38">hg38</a>], 
        mouse [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=mammal&org=Mouse&db=mm10">mm10</a>], 
        zebrafish [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=vertebrate&org=Zebrafish&db=danRer10">danRer10</a>], 
        worm [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=worm&org=C.+elegans&db=ce10">ce10</a>], 
        and fly [<a href="http://genome.ucsc.edu/cgi-bin/hgGateway?clade=insect&org=D.+melanogaster&db=dm6">dm6</a>]. In addition, this release includes...
      </p>
      <p>
        Dfam is growing......we are embarking on an effort...
      </p>
      <p>
        Dfam is freely available under the 
        <a href="http://creativecommons.org/publicdomain/zero/1.0/" class="ext">Creative Commons Zero</a> ("CC0") license.
      </p>
      <p>
        Dfam is powered by nhmmer, which is a part of the 
        <a class="ext" href="http://hmmer.org/">HMMER3</a> package and was written 
        by Travis Wheeler (University of Montana) and Sean Eddy (HHMI, Harvard University).
      </p>
      <hr>
    </div>
    <div>
      <h3>Dfam Team (past and present)</h3>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a href="https://www.systemsbiology.org/">
          <img style="height:50px;width:130px;" src="assets/images/ISB_Logo.png" alt="ISB">
        </a>
        <ul>
          <li>Robert Hubley</li>
          <li>Arian Smit</li>
          <li>Jeb Rosen</li>
        </ul>
      </div>  
      <p></p>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a href="http://cs.umt.edu">
        <img style="height:50px;width:130px;" src="assets/images/umlogo200w.png" alt="UMT">
        </a>
        <ul>
          <li>Travis Wheeler</li>
        </ul>
      </div>
      <p></p>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a href="http://www.ebi.ac.uk/">
        <img style="height:60px;width:130px;" src="assets/images/ebi.jpeg" alt="EBI">
        </a>
        <ul>
          <li>Rob Finn</li>
        </ul>
      </div>
      <p></p>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a href="http://www.mcb.harvard.edu/mcb/">
        <img style="height:35px;width:125px;" src="assets/images/harvard.png" alt="Harvard">
        </a>
        <ul>
          <li>Sean Eddy</li>
          <li>Tom Jones</li>
        </ul>
      </div>
      <p></p>
      <div fxLayout="row" fxLayoutAlign="start center">
        <a href="http://janelia.org">
        <img style="height:50px;width:130px;" src="assets/images/hhmi-janelia.png" alt="HHMI">
        </a>
        <ul>
          <li>Jody Clements</li>
          <li>Bill Arndt</li>
        </ul>
      </div>
      <p></p>
      <div fxLayout="row" fxLayoutAlign="start center">
          <a href="http://www.girinst.org/">
          <img style="height:35px;width:130px;" src="assets/images/giri-medium.jpg" alt="GIRI">
          </a>
        <ul>
          <li>Jerzy Jurka</li>
          <li>Weidong Bao</li>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
