<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true" [disableClose]="true">
    <mat-nav-list>
      <mat-list-item>
        <a routerLink="/home"><img class="dfam-logo" src="assets/images/dfam_logo.png" alt="Dfam" /></a>
      </mat-list-item>
      <a mat-list-item routerLink="/workbench/browse" *ngIf="showBrowse">Browse</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/workbench/user">My Account</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<dfam-errors-snackbar></dfam-errors-snackbar>
