<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <a mat-list-item routerLink="/workbench/user">Me</a>
      <a mat-list-item routerLink="/workbench/browse">Browse</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<dfam-errors-snackbar></dfam-errors-snackbar>
