<h2>Models <dfam-help-icon [matTooltip]="help.models"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<button mat-raised-button (click)="downloadHmm()">HMM</button>
<button mat-raised-button (click)="downloadSeed()">Seed</button>

<h2>Annotations <dfam-help-icon [matTooltip]="help.annotations"></dfam-help-icon></h2>
<mat-divider></mat-divider>

<table>
  <tr *ngFor="let assembly of assemblies">
    <td>{{assembly.name}}</td>
    <td><button mat-raised-button (click)="downloadAssemblyAnnotations(assembly.id, true)">Non-redundant hits</button></td>
    <td><button mat-raised-button (click)="downloadAssemblyAnnotations(assembly.id, false)">All hits</button></td>
  </tr>
</table>

<dfam-loader [loading]="queuedCount > 0">
</dfam-loader>
