<div *ngIf="family">

<h2>Details</h2>
<h3>HMM</h3>
<p><strong>Model Mask:</strong> {{family.model_mask || "None"}}</p>
<p><strong>Default NC Threshold:</strong> {{family.hmm_general_nc || "N/A"}} </p>

<h3>Consensus</h3>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Sequence</mat-panel-title>
  </mat-expansion-panel-header>

  <samp class="consensus_seq">
  {{family.consensus_sequence}}
  </samp>
</mat-expansion-panel>

<h2>HMM Logo</h2>

<div class="logo" style="position: relative; margin: auto; width: 95%;">
  <div class="logo-container">
    <div #logoGraphic class="logo-graphic"></div>
    <div class="divider"></div>
  </div>
</div>

<div *ngIf="assemblies.length">

  <h2>HMM Genome Specific Characteristics</h2>
  <mat-select placeholder="Select genome" [(value)]="selectedAssembly">
  <mat-option *ngFor="let assembly of assemblies" value="{{assembly.id}}">
  {{assembly.name}}
  </mat-option>
  </mat-select>

  <div *ngIf="selectedAssembly">

    <h3>Coverage, Conservation, and Inserts</h3>

    <strong>False discovery rate</strong>: {{assemblyData[selectedAssembly].hmm_fdr || "Unknown"}}

    <mat-select [(value)]="selectedThreshold">
      <mat-option *ngFor="let th of thresholds" value="{{th.id}}">
        {{th.label}}
      </mat-option>
    </mat-select>

    <div #conservationGraph></div>

    <div class="key"><div style="background:#7753D3;"></div> <span>% coverage</span></div>
    <div class="key"><div style="background:#9AC231;"></div> <span>Relative % identity</span></div>
    <div class="key"><div style="background:#AAAAAA;"></div> <span>Number of inserts following position</span></div>

    <h3>Non-Redundant Coverage</h3>
    Number of aligned bases per model position, among the non-redundant hits in dfamseq.
    <div #nrphCoverage></div>

    <h3>Redundant Coverage</h3>
    Number of aligned bases per model position, using the hits in dfamseq.
    <div #redundantCoverage></div>

    <h3>False Coverage</h3>
    Number of aligned bases per model position, using the hits from an artificial sequence devoid of TEs.
    <div #falseCoverage></div>

  </div>

</div>

<div *ngIf="!family">Loading data...</div>
