<a  data-layout="column" data-layout-align="center center"  [href]="href"> 
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        {{title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div data-layout="row" data-layout-align="end">
        <div>
          {{description}}
        </div>
      <div>
        <img [src]="icon" [alt]="altDescription" [attr.height]="iconHeight" [attr.width]="iconWidth">
      </div>
      </div>
    </mat-card-content>
  </mat-card>
</a>