.key {
  display: inline-block;
  min-width: 30em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
}

.key img {
  float: left;
}

.key p {
  margin: 0 1em;
}

.limit-warning-icon {
  font-size: 120%;
  height: unset;
  width: unset;

  color: #FF8000;
}
