<div *ngIf="family">

<h2>Details <mat-icon [matTooltip]="help.details">help</mat-icon></h2>
<mat-divider></mat-divider>
<h3>HMM</h3>
<p><strong>Model Mask:</strong> {{family.model_mask || "None"}}</p>
<p><strong>Default NC Threshold:</strong> {{family.hmm_general_nc || "N/A"}} </p>

<h3>Consensus</h3>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Sequence</mat-panel-title>
  </mat-expansion-panel-header>

  <samp class="consensus_seq">
  {{family.consensus_sequence}}
  </samp>
</mat-expansion-panel>

<h2>HMM Logo
  <mat-icon [matTooltip]="help.logo">help</mat-icon>
  <button mat-flat-button [matTooltip]="help.downloadLogo" (click)="onDownloadLogo()"><mat-icon>arrow_downward</mat-icon></button>
</h2>
<mat-divider></mat-divider>

<dfam-family-model-logo [data]="hmmLogo">
</dfam-family-model-logo>

<h2>HMM Genome Specific Characteristics <mat-icon [matTooltip]="help.genome">help</mat-icon></h2>
<mat-divider></mat-divider>
<div *ngIf="!assemblies.length">
Genome-specific characteristics are not available for this family.
</div>

<div *ngIf="assemblies.length">

  <mat-form-field>
    <mat-select appearance="standard" placeholder="Genome" [(value)]="selectedAssembly">
      <mat-option *ngFor="let assembly of assemblies" value="{{assembly.id}}">
        {{assembly.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngIf="selectedAssembly">

    <h3>Coverage, Conservation, and Inserts <mat-icon [matTooltip]="help.conservation">help</mat-icon></h3>

    <p><strong>False discovery rate</strong>: {{assemblyData[selectedAssembly].hmm_fdr || "Unknown"}}</p>

    <mat-form-field class="threshold-field">
      <mat-select appearance="standard" placeholder="Threshold" [(value)]="selectedThreshold">
        <mat-option *ngFor="let th of thresholds" value="{{th.id}}">
          {{th.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <dfam-family-model-conservation [data]="conservationData">
    </dfam-family-model-conservation>

    <h3>Non-Redundant Coverage <mat-icon [matTooltip]="help.nrph">help</mat-icon></h3>
    Number of aligned bases per model position, among the non-redundant hits in dfamseq.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.nrph" colorSet="2">
    </dfam-family-model-coverage>

    <h3>Redundant Coverage <mat-icon [matTooltip]="help.all">help</mat-icon></h3>
    Number of aligned bases per model position, using the hits in dfamseq.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.all" colorSet="2">
    </dfam-family-model-coverage>

    <h3>False Coverage <mat-icon [matTooltip]="help.false">help</mat-icon></h3>
    Number of aligned bases per model position, using the hits from an artificial sequence devoid of TEs.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.false">
    </dfam-family-model-coverage>

  </mat-card>

</div>

<div *ngIf="!family">Loading data...</div>
