<h2>Overview</h2>
<mat-divider></mat-divider>

For each annotated genome within this family's taxa we calculate
the number, length, and divergence of annotations above the model
score thresholds.

<table *ngIf="stats?.length">
<thead>
<tr>
  <th rowspan="2">Species</th>
  <th rowspan="2">Avg. Hit Length</th>
  <th colspan="2">Gathering Threshold</th>
  <th colspan="2">Trusted Threshold</th>
</tr>
<tr>
  <th>Count</th>
  <th>Kimura Div.</th>
  <th>Count</th>
  <th>Kimura Div.</th>
</tr>
</thead>

<tr *ngFor="let stat of stats">
<td>{{stat.species}}</td>
<td>{{stat.avg_hit_length}}</td>
<td>{{stat.gathering_all}}</td>
<td>{{stat.gathering_divergence}}</td>
<td>{{stat.trusted_all}}</td>
<td>{{stat.trusted_divergence}}</td>
</tr>

</table>

<dfam-loader [loading]="!stats">

<div *ngIf="stats?.length === 0">
No statistics are available for this family.
</div>

<h2>Genome Annotation Distribution <dfam-help-icon [matTooltip]="help.distribution"></dfam-help-icon></h2>
<mat-divider></mat-divider>

<div *ngIf="!assemblies.length">
Genome-specific characteristics are not available for this family.
</div>

<div *ngIf="assemblies.length">
  <mat-form-field>
    <mat-select appearance="standard" placeholder="Genome" [(value)]="selectedAssembly">
      <mat-option *ngFor="let assembly of assemblies" value="{{assembly.id}}">
        {{assembly.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngIf="selectedAssembly">
    <mat-radio-group [(ngModel)]="selectedVisualizationType">
      <mat-radio-button name="image_type" value="nrph">Non-Redundant Hits</mat-radio-button>
      &nbsp;
      <mat-radio-button name="image_type" value="all">All Hits</mat-radio-button>
      &nbsp;
      <mat-radio-button *ngIf="hasGiemsa" name="image_type" value="giemsa">Giemsa Staining</mat-radio-button>
    </mat-radio-group>
    <dfam-loader [loading]="loadingKaryotype">
      <dfam-family-annotations-karyotype #karyotype [data]="karyotypeData" [visualizationType]="selectedVisualizationType">
      </dfam-family-annotations-karyotype>
    </dfam-loader>

    <dfam-loader [loading]="loadingAnnotationData">
      <div *ngIf="annotationData">
        <dfam-search-annotations-hits [assembly]="selectedAssembly" [data]="annotationData.hits" [search]="annotationData.title">
        </dfam-search-annotations-hits>
      </div>
    </dfam-loader>
  </mat-card>
</div>

</dfam-loader>
