<h3 class="underline-span">Relationships with other families <dfam-help-icon [tooltip]="help"></dfam-help-icon></h3>

<dfam-loader [loading]="!relationships">

  <div *ngIf="relationships?.length; else noData">
    <div class="key">
      <img src="/assets/images/relation_key.png">
      <p>Similarity to Forward Strand</p>
      <p>Similarity to Reverse Complement Strand</p>
    </div>
  </div>

  <div #outlet>
  </div>

  <ng-template #noData>
    No relationships recorded.
  </ng-template>

</dfam-loader>
