.coding_seq {
  display: block;
  // display: flex; TODO these comments partially address the lack of reactivity
  max-width: 800px;
  max-height: 8em;
  overflow-wrap: break-word;
  overflow: auto;
  // white-space: pre-wrap;
  // max-width: 30ch; 
}
