<dfam-loader [loading]="!family">

<div *ngIf="family">

<h2>Details <dfam-help-icon [tooltip]="help.details"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<h3>HMM</h3>
<p><strong>Model Mask:</strong> {{family.model_mask || "None"}}</p>
<p><strong>Default NC Threshold:</strong> {{family.hmm_general_nc || "N/A"}} </p>

<h3>Consensus</h3>
<samp class="consensus_seq">{{family.consensus_sequence}}</samp>

<h2>HMM Logo
  <dfam-help-icon [tooltip]="help.logo"></dfam-help-icon>
  <a mat-flat-button [matTooltip]="help.downloadLogo" [href]="logoUrl">
    <mat-icon>arrow_downward</mat-icon>
  </a>
</h2>
<mat-divider></mat-divider>

<dfam-family-model-logo [data]="hmmLogo">
</dfam-family-model-logo>

<h2>HMM Genome Specific Characteristics <dfam-help-icon [tooltip]="help.genome"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<div *ngIf="!assemblies.length">
Genome-specific characteristics are not available for this family.
</div>

<div *ngIf="assemblies.length">

  <mat-form-field>
    <mat-select appearance="standard" placeholder="Genome" [(value)]="selectedAssembly">
      <mat-option *ngFor="let assembly of assemblies" value="{{assembly.id}}">
        {{assembly.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-card *ngIf="selectedAssembly">

    <h3>Coverage, Conservation, and Inserts <dfam-help-icon [tooltip]="help.conservation"></dfam-help-icon></h3>

    <p><strong>False discovery rate</strong>: {{assemblyData[selectedAssembly].hmm_fdr || "Unknown"}}</p>

    <div *ngIf="assemblyData[selectedAssembly]?.thresholds?.length">
      <mat-form-field class="threshold-field">
        <mat-select appearance="standard" placeholder="Threshold" [(value)]="selectedThreshold">
          <mat-option *ngFor="let th of assemblyData[selectedAssembly]?.thresholds" value="{{th.id}}">
            {{th.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <dfam-family-model-conservation [data]="conservationData">
      </dfam-family-model-conservation>
    </div>

    <h3>Non-Redundant Coverage <dfam-help-icon [tooltip]="help.nrph"></dfam-help-icon></h3>
    Number of aligned bases per model position, among the {{assemblyData[selectedAssembly].model_coverage?.nrph_hits}} non-redundant hits in dfamseq.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.nrph" colorSet="2">
    </dfam-family-model-coverage>

    <h3>Redundant Coverage <dfam-help-icon [tooltip]="help.all"></dfam-help-icon></h3>
    Number of aligned bases per model position, using the {{assemblyData[selectedAssembly].model_coverage?.all_hits}} hits in dfamseq.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.all" colorSet="2">
    </dfam-family-model-coverage>

    <h3>False Coverage <dfam-help-icon [tooltip]="help.false"></dfam-help-icon></h3>
    Number of aligned bases per model position, using the {{assemblyData[selectedAssembly].model_coverage?.false_hits}} hits from an artificial sequence devoid of TEs.
    <dfam-family-model-coverage [data]="assemblyData[selectedAssembly].model_coverage?.false">
    </dfam-family-model-coverage>

  </mat-card>

</div>

</div>

</dfam-loader>
