<div *ngIf="family">

<h2>Description</h2>
<p>{{family.description}}</p>

<h2><span matTooltip="Classification and Taxa">Classification and Taxa</span></h2>
<p><strong>Classification:</strong> {{family.classification}}</p>
<p><strong>Taxa:</strong> {{family.clades.join("; ")}}</p>

<h2><span matTooltip="Curation Details">Curation Details</span></h2>
<p><strong>Status:</strong> Unassessed</p>
<p><strong>Length:</strong> {{family.length}}</p>
<p><strong>Target Site Duplication:</strong> {{family.target_site_cons}}</p>

<h2><span matTooltip="Citations">Citations</span></h2>
<ol>
  <li *ngFor="let cit of family.citations">
    <p>
      <em>{{cit.title}}</em>
      <br>
      {{cit.authors}}
      <br>
      <strong>{{cit.journal}} </strong>
      <a class="ext" href="http://www.ncbi.nlm.nih.gov/pubmed/{{cit.pmid}}">Pubmed</a>
    </p>
  </li>
</ol>

<h2>Source</h2>
<p><strong>Submitter:</strong> </p>
<p><strong>Created On:</strong> {{family.date_created}}</p>
<p><strong>Modified On:</strong> {{family.date_modified}}</p>

<h2><span matTooltip="Aliases and External Links">Aliases and External Links</span></h2>
<ul>
  <li *ngFor="let alias of family.aliases">
    {{alias.database}}: {{alias.alias}}
  </li>
</ul>

</div>

<div *ngIf="!family">
Loading data...
</div>
