<div fxFlex="60" fxFlexOffset="20">

<h2>Seed Alignment Coverage and Whisker Plot <mat-icon [matTooltip]="help">help</mat-icon></h2>
<mat-divider></mat-divider>

<div *ngIf="length !== undefined">
<strong>Length</strong>: {{length}}
</div>

<div *ngIf="!stockholmData">
Loading seed alignment...
</div>

<div *ngIf="stockholmData">
Representation of the <strong>{{seeds_count}}</strong> seed alignment sequences, indicating the number of aligned bases per model position and the length distribution across the model.
</div>

<div #seedContainer>
</div>

</div>
