.consensus_seq {
  display: block;
  max-width: 800px;
  max-height: 8em;
  overflow-wrap: break-word;
  overflow: auto;
}

.key {
  margin-left: 55px;
}

.key div {
  width: 10px;
  height: 10px;
  margin-right: 1em;
  display: inline-block;
}
