<div fxFlex.gt-sm="60" fxFlexOffset.gt-sm="20">

<h2>Seed Alignment Coverage and Whisker Plot <dfam-help-icon [matTooltip]="help"></dfam-help-icon></h2>
<mat-divider></mat-divider>

<div *ngIf="length !== undefined">
<strong>Length</strong>: {{length}}
</div>

<dfam-loader [loading]="loading">
<div *ngIf="data">
Representation of the <strong>{{seeds_count}}</strong> seed alignment sequences, indicating the number of aligned bases per model position and the length distribution across the model.
</div>

<div #seedContainer>
</div>
</dfam-loader>

</div>
