mat-card {
  margin: 1em;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

thead {
  position: sticky;
  top: 0;

  // HACK: workaround for buttons "popping out" from under the sticky thead
  // and overlaying the column headers. It seems related to
  // position:relative and/or transform:translate3d

  // Unfortunately, this workaround causes flickering when scrolling.
  z-index: 1;
}

th, td {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 0.5em;
}

tr:first-child th, tr:first-child td {
  border-top: 1px solid #cccccc;
}

th:first-child, td:first-child {
  border-left: 1px solid #cccccc;
}

th {
  background: #ddd;
  color: #777;
  vertical-align: middle;
}
