<div *ngIf="!family">
Loading data...
</div>

<h2>Coding Sequences <dfam-help-icon [matTooltip]="help.coding_seqs"></dfam-help-icon></h2>
<mat-divider></mat-divider>

<div *ngIf="!family?.coding_seqs">
No coding sequences recorded for this family.
</div>

<ol>
  <li *ngFor="let cs of family?.coding_seqs">
    <p><strong>Product:</strong> </p>
    <p><strong>Description:</strong> </p>
    <p><strong>Translation:</strong> </p>
    <p><strong>Frameshifts:</strong> </p>
    <p><strong>Stop codons:</strong> </p>
    <p><strong>Exons:</strong> </p>
    <p><strong>CDS Range:</strong> </p>
    <p><strong>Strand:</strong> </p>
  </li>
</ol>

<h2>Features <dfam-help-icon [matTooltip]="help.features"></dfam-help-icon></h2>
<mat-divider></mat-divider>

<div *ngIf="!family?.features">
No features recorded for this family.
</div>

<ol>
  <li *ngFor="let feat of family?.features">
    <p><strong>Type:</strong> </p>
    <p><strong>Range:</strong> </p>
    <p><strong>Description:</strong> </p>
    <p><strong>Attributes:</strong> </p>
  </li>
</ol>

