.table-container {
  max-height: 400px;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
}

table, th, td {
  border: 1px solid #cccccc;
  padding: 0.5em;
}

th {
  background: #ddd;
  color: #777;
  vertical-align: middle;
}

