<div class="content" *ngIf="family">

<h2>Description</h2>
<mat-divider></mat-divider>
<p>{{family.description}}</p>

<h2>Classification and Taxa <dfam-help-icon [tooltip]="help.classification"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<p><strong>Classification:</strong>
{{family.display_classification.path}}<ng-container *ngIf="family.display_classification.last">;
  <a routerLink="/classification"
      [fragment]="family.classification">
    {{family.display_classification.last}}
  </a>
</ng-container>
</p>
<p><strong>Taxa:</strong>
<ng-container *ngFor="let clade of family.display_clades">
  {{clade.path}}<ng-container *ngIf="clade.last">;
    <a class="ext"
        href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?name={{clade.last}}">
      {{clade.last}}
    </a>
  </ng-container>
</ng-container>
</p>

<h2>Curation Details<dfam-help-icon [tooltip]="help.curation"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<p><strong>Status:</strong> {{family.curation_state_name}} <dfam-help-icon [tooltip]="family.curation_state_description"></dfam-help-icon></p>
<p><strong>Length:</strong> {{family.length}}</p>
<p><strong>Target Site Duplication:</strong> {{family.target_site_cons || "None"}}</p>

<h2>Citations <dfam-help-icon [tooltip]="help.citations"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<div *ngIf="!family.citations.length">
No recorded citations for this family.
</div>

<ol>
  <li *ngFor="let cit of family.citations">
    <p>
      <em>{{cit.title}}</em>
      <br>
      {{cit.authors}}
      <br>
      <strong>{{cit.journal}} </strong>
      <a class="ext" href="http://www.ncbi.nlm.nih.gov/pubmed/{{cit.pmid}}">Pubmed</a>
    </p>
  </li>
</ol>

<h2>Aliases and External Links <dfam-help-icon [tooltip]="help.aliases"></dfam-help-icon></h2>
<mat-divider></mat-divider>
<div *ngIf="!family.aliases.length">
No recorded aliases for this family.
</div>

<ul>
  <li *ngFor="let alias of family.aliases">
    {{alias.database}}: {{alias.alias}}
  </li>
</ul>

<h2>Source</h2>
<mat-divider></mat-divider>
<p><strong>Submitter:</strong> {{family.submitter || "Unknown"}}</p>
<p><strong>Author:</strong> {{family.author || "Unknown"}}</p>
<p><strong>Created On:</strong> {{family.date_created | date: 'medium'}}</p>
<p><strong>Modified On:</strong> {{family.date_modified | date: 'medium'}}</p>

</div>

<div *ngIf="!family">
Loading data...
</div>
