<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-between center">
  <a href="/Dfam_consensus">
    <img style="margin:.3em;height:55px;width:177px;" src="assets/images/dfam_logo.png" alt="Dfam_consensus" />
  </a>
  <div>
    <button mat-button routerLink="/home" color="primary"><b>HOME</b></button> |
    <button mat-button routerLink="/browse" color="primary"><b>BROWSE</b></button> |
    <!-- TODO: add routes for the remaining pages -->
    <button mat-button color="primary"><b>CLASSIFICATION</b></button> |
    <button mat-button color="primary"><b>REPOSITORY</b></button> |
    <button mat-button color="primary"><b>DOWNLOAD</b></button> |
    <button mat-button routerLink="/about" color="primary"><b>ABOUT</b></button>
  </div>
  <a href="http://www.systemsbiology.org">
    <img style="height:75px" src="assets/images/ISB_Logo.png" alt="ISB" />
  </a>
</div>

