
// Dfam logo
.dflogo {
  margin: 1em;
  height: 55px;
  width: 177px;
}

// ISB logo
.isblogo {
  height: 90px;
}

// Site navigation menu div
.headerdiv {
  flex-direction: row; 
  box-sizing: border-box; 
  display: flex; 
  place-content: center space-between; 
  align-items: center;
}

.sitenavdiv {
  text-align: center;
}

.sitenavdiv .active {
  font-weight: bold;
  text-decoration: underline 2px;
}

.loginrow {
  flex-direction: row; 
  box-sizing: border-box; 
  display: flex;
}
