
// Dfam logo
.dflogo {
  margin: 1em;
  height: 55px;
  width: 177px;
}

// ISB logo
.isblogo {
  height: 90px;
}

// Site navigation menu div
.sitenavdiv {
  text-align: center;
}

.sitenavdiv .active {
  font-weight: bold;
  text-decoration: underline 2px;
}
