<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    Filters
  </mat-expansion-panel-header>

  <div class="filters">
    <div>
      <mat-form-field>
        <input matInput type="text"
            placeholder="Name/Accession"
            [(ngModel)]="search.name_accession"
            (input)="searchChanged()">
        <mat-icon class="input-warn" matSuffix
            [matTooltip]="'Invalid character for names: ' + unusualNameCharacter"
            *ngIf="unusualNameCharacter">
          warning
        </mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text"
            placeholder="Classification"
            [(ngModel)]="search.classification"
            [matAutocomplete]="classAutocomplete"
            (input)="updateClasses()">
      </mat-form-field>
      <mat-autocomplete
          #classAutocomplete="matAutocomplete"
          [displayWith]="displayClass"
          panelWidth="40em"
          (optionSelected)="searchChanged()">
        <mat-option
            class="classification-option"
            *ngFor="let class of classOptions"
            [value]="class">
          <span [innerHTML]="class.name_markup"></span>
          <span class="right" *ngIf="class.count"> [{{class.count}}]</span>
        </mat-option>
      </mat-autocomplete>

      <mat-form-field>
        <input matInput type="text"
            placeholder="Keywords"
            [(ngModel)]="search.keywords"
            (input)="searchChanged()">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="text"
            placeholder="Taxon"
            [(ngModel)]="search.clade"
            [matAutocomplete]="cladeAutocomplete"
            (input)="updateClades()">
      </mat-form-field>
      <mat-autocomplete
          #cladeAutocomplete="matAutocomplete"
          [displayWith]="displayClade"
          panelWidth="40em"
          (optionSelected)="searchChanged()">
        <mat-option
            class="clade-option"
            *ngFor="let clade of cladeOptions"
            [value]="clade">
          <span [innerHTML]="clade.name_markup"></span>
        </mat-option>
      </mat-autocomplete>

      <mat-checkbox
          [(ngModel)]="search.clade_ancestors"
          (change)="searchChanged()">
        Ancestors
      </mat-checkbox>

      <mat-checkbox
          [(ngModel)]="search.clade_descendants"
          (change)="searchChanged()">
        Descendants
      </mat-checkbox>

      <mat-checkbox
          [(ngModel)]="search.include_raw"
          (change)="searchChanged()">
        Include Uncurated
      </mat-checkbox>
    </div>

    <div>
      <button mat-raised-button (click)="clearSearch()">Clear Filters</button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <p>Total results: {{families.total_count}}</p>
</mat-expansion-panel>

<div class="browse">
  <table mat-table matSort
        [matSortActive]="sortActive"
        [matSortDirection]="sortDirection"
        (matSortChange)="sortChanged($event)"
        [dataSource]="families.results">
    <ng-container matColumnDef="accession">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accession</th>
      <td mat-cell *matCellDef="let family">
        <a routerLink="../family/{{family.accession}}">
          {{family.accession}}
          <mat-icon class="edit-icon" *ngIf="isEditing">edit</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let family">{{family.name}}</td>
    </ng-container>
    <ng-container matColumnDef="classification">
      <th mat-header-cell *matHeaderCellDef>Classification</th>
      <td mat-cell *matCellDef="let family">
        <a routerLink="/classification/tree"
            [fragment]="family.classification"
            [matTooltip]="family.classification_tooltip">
          {{family.classification_display}}
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="clades">
      <th mat-header-cell *matHeaderCellDef>Clades</th>
      <td mat-cell *matCellDef="let family">
        <ng-container *ngFor="let clade of family.display_clades; last as isLast">
          <a class="ext"
              href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?name={{clade.name}}"
              [matTooltip]="clade.tooltip">
            {{clade.name}}
          </a><ng-container *ngIf="!isLast">, </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let family">{{family.title}}</td>
    </ng-container>
    <ng-container matColumnDef="length">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Length</th>
      <td mat-cell *matCellDef="let family">{{family.length}}</td>
    </ng-container>
    <ng-container matColumnDef="abundance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Abundance</th>
      <td mat-cell *matCellDef="let family">{{family.abundance}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let families; columns: displayColumns"></tr>
  </table>

  <div data-layout="row">
    <div data-layout="row" data-layout-align="left center">
      <div data-layout-gap="15px" [class.hidden]="disableDownload">
        <span>Download these results:</span>
        <a [href]="downloadUrls['hmm']">HMM</a>
        <a [href]="downloadUrls['embl']">EMBL</a>
        <a [href]="downloadUrls['fasta']">FASTA</a>
      </div>
    </div>

    <mat-paginator
      [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[20,50,100]"
      [length]="families?.total_count" (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
