.filters > div {
  display: inline-block;
  place-content:  space-between; 
  align-items: center;
}

.browse mat-paginator {
  margin-left: auto;
}

mat-form-field, mat-checkbox {
  margin: 0 0.5em;
  appearance: "fill";
}

.classification-option, .clade-option {
  font-size: 14px;
  line-height: 1.5;
  height: 30px;
}

.classification-option .right {
  float: right;
}

.browse table {
  margin-top: 1em;
  width: 100%;
}

.edit-icon {
  font-size: 80%;
  height: unset;
}

.hidden {
  display: none;
}

// Compresses the browse table rows so that it's easier to see 20 records at a time.
.mat-mdc-table .mdc-data-table__row {
    height: 44px;
}

.tab {
  // display: inline-block;
  margin-left: 9px;
}