.wide {
  width: 100%;
}

#refresh-button, #save-button {
  float: right;
  margin-left: 1em;
}

mat-tree li {
  list-style-type: none;
}

.collapsed {
  display: none;
}

.clade-option {
  font-size: 14px;
  line-height: 1.5;
  height: 30px;
}
