<div *ngIf="family">

<button mat-fab color="primary" id="save-button"
    [disabled]="saving" (click)="saveFamily()">
  <mat-icon aria-hidden="false" aria-label="Save">save</mat-icon>
</button>

<button mat-fab color="secondary" id="refresh-button"
    [disabled]="saving" (click)="getFamily()">
  <mat-icon aria-hidden="false" aria-label="Refresh">refresh</mat-icon>
</button>


<h2 class="green">{{family.accession}}.{{family.version}}</h2>

<p>
  <mat-form-field class="wide">
    <input matInput type="text" placeholder="Name"
      size="30"
      [formControl]="familyForm.controls.name">
  </mat-form-field>
</p>

<h3 class="underline-span">Info</h3>

<p>
  <mat-form-field class="wide">
    <textarea matInput placeholder="Description" [formControl]="familyForm.controls.description"></textarea>
  </mat-form-field>
</p>

<h3 class="underline-span">Classification and Taxa</h3>

<p>
  <strong>Classification: </strong>
  <button mat-raised-button (click)="pickClassification()"><mat-icon>list</mat-icon></button>
  {{ displayClassById(familyForm.controls.classification_id.value) | async }}
</p>

<p><strong>Taxa:</strong></p>
<ul>
  <li *ngFor="let control of this.familyForm.controls.clades.controls; index as i;">
    <mat-form-field>
      <input matInput type="text" placeholder="Clade"
          [matAutocomplete]="clade_autocomplete"
          [formControl]="control"
          (input)="this.cladeSearchTerm.next($event.target.value)">
      <mat-autocomplete #clade_autocomplete="matAutocomplete"
          [displayWith]="displayClade" panelWidth="40em"
          (optionSelected)="this.cladeSearchTerm.next('')">
        <mat-option *ngFor="let clade of cladeOptions" class="clade-option" [value]="clade">
          <span [innerHTML]="clade.name_markup"></span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button matButton (click)="this.familyForm.controls.clades.removeAt(i)">-</button>
  </li>
  <li><button matButton (click)="addClade()">+</button></li>
</ul>

<h3 class="underline-span">Curation Details</h3>

<p>
  <mat-form-field>
    <mat-select placeholder="Curation Status"
      [formControl]="familyForm.controls.curation_state_name">
      <mat-option value="Submitted">Submitted</mat-option>
      <mat-option value="Accepted">Accepted</mat-option>
      <mat-option value="Rejected">Rejected</mat-option>
      <mat-option value="Released">Released</mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  <mat-checkbox [formControl]="familyForm.controls.disabled">Disabled</mat-checkbox>
</p>
<p><strong>Length:</strong> {{family.length}} </p>

<p>
  <mat-form-field>
    <input matInput type="text" placeholder="Target Site Duplication" [formControl]="familyForm.controls.target_site_cons">
  </mat-form-field>
</p>

<mat-form-field class="wide">
<textarea matInput placeholder="Curation Notes" [formControl]="familyForm.controls.curation_notes"></textarea>
</mat-form-field>

<h3 class="underline-span">Citations</h3>
<ol>
  <li *ngFor="let group of this.familyForm.controls.citations.controls; index as i;">
    <mat-form-field>
      <input matInput type="number" placeholder="PubMed ID"
        [formControl]="group.controls.pmid">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Comment"
        [formControl]="group.controls.comment">
    </mat-form-field>
    <button matButton (click)="this.familyForm.controls.citations.removeAt(i)">-</button>
  </li>
</ol>
<button matButton (click)="addCitation()">+</button>

<h3 class="underline-span">Aliases</h3>
<ul>
  <li *ngFor="let group of this.familyForm.controls.aliases.controls; index as i;">
    <mat-form-field>
      <input matInput type="text" placeholder="Database"
        [formControl]="group.controls.database">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Alias"
        [formControl]="group.controls.alias">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Comment"
        [formControl]="group.controls.comment">
    </mat-form-field>
    <mat-checkbox [formControl]="group.controls.deprecated">Deprecated</mat-checkbox>
    <button matButton (click)="this.familyForm.controls.aliases.removeAt(i)">-</button>
  </li>
  <li><button matButton (click)="addAlias()">+</button></li>
</ul>

<h3 class="underline-span">Source</h3>
<p><strong>Submitter:</strong> {{family.submitter || "Unknown"}}</p>
<p>
  <mat-form-field class="wide">
    <input matInput type="text" placeholder="Author(s)" [formControl]="familyForm.controls.author">
  </mat-form-field>
</p>
<p><strong>Created On:</strong> {{family.date_created | date: 'medium'}}</p>
<p><strong>Modified On:</strong> {{family.date_modified | date: 'medium'}}</p>
</div>

<div *ngIf="!family">
Loading data...
</div>
