.wide {
  width: 100%;
}

.clipped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin: 0.5em;
}

h3 {
  margin-bottom: 0.5em;
}

mat-icon.help {
  font-size: 80%;
  height: 100%;
}
