.filters > div {
  display: inline-block;
}

mat-form-field, mat-checkbox {
  margin: 0 0.5em;
}

.classification-option, .clade-option {
  font-size: 14px;
  line-height: 1.5;
  height: 30px;
}

.classification-option .nomatch {
  font-style: italic;
}

.classification-option .right {
  float: right;
}

.browse table {
  margin-top: 1em;
  width: 100%;
}
