mat-form-field, mat-checkbox {
  margin: 1em;
}

.classification-option, .clade-option {
  font-size: 14px;
  line-height: 1.5;
  height: 30px;
}

.browse table {
  width: 100%;
}

.browse td, .browse th {
  padding: 2px;
}
