<div fxLayout="column">
  <div fxLayout="row">
    <div fxFlex="50" fxFlexOffset="25">

    <h2>Retrieve Hits</h2>

    <div>
      <p>
      Retrieve pre-calculated Dfam matches for up to 50Kbp ranges of genomic
      sequence.
      </p>

      <p>
      Pre-calculated matches are from Dfam + nhmmer searches against dfamseq, which
      contains reference assemblies for human [hg38], mouse [mm10], zebrafish
      [danRer10], worm [ce10], and fly [dm6]
      </p>

      <p>
      By default, redundant profile hits (RPH) will be removed as indicated by the
      checkbox. You can optionally make the search specific to a model by entering
      the Dfam accession or identifier.
      </p>

      <p>
      The search will analyze both strands between the co-ordinate range, fetching
      both Dfam model matches that score above the gathering threshold and Tandem
      Repeat Finder (TRF) matches.
      </p>
    </div>

    <form>
      <mat-form-field>
        <mat-select placeholder="Organism" name="organism" [(ngModel)]="search.assembly">
          <mat-option *ngFor="let assembly of assemblies" [value]="assembly.id">{{assembly.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Chromosome" name="chromosome" [(ngModel)]="search.chromosome">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Start" name="start" [(ngModel)]="search.start">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End" name="end" [(ngModel)]="search.end">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Dfam entry (optional)" name="family" [(ngModel)]="search.family">
      </mat-form-field>

      <mat-checkbox name="nrph" [(ngModel)]="search.nrph">Remove redundant profile hits</mat-checkbox>

      <div class="buttons">
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <button mat-raised-button type="button" (click)="onReset()">Reset</button>
        <button mat-raised-button type="button" (click)="onExample()">Example</button>
      </div>
    </form>

    </div>
  </div>

  <dfam-loader [loading]="loading">
    <dfam-search-annotations-graph [data]="results">
    </dfam-search-annotations-graph>

    <div [class.hidden]="!results">
      <div fxLayout="row">
      <div fxFlex="80" fxFlexOffset="10">

        <dfam-search-annotations-hits [data]="results?.hits" [assembly]="results?.assembly">
        </dfam-search-annotations-hits>

        <h3>
          Tandem and Simple Repeats
          <button type="button" class="right" (click)="onDownloadTandem()">Download</button>
        </h3>
        <table #tandemResultsSort="matSort" mat-table matSort [dataSource]="tandemResultsSource">
          <ng-container matColumnDef="sequence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sequence</th>
            <td mat-cell *matCellDef="let hit">{{hit.sequence}}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
            <td mat-cell *matCellDef="let hit">{{hit.type}}</td>
          </ng-container>
          <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start</th>
            <td mat-cell *matCellDef="let hit">{{hit.start}}</td>
          </ng-container>
          <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>End</th>
            <td mat-cell *matCellDef="let hit">{{hit.end}}</td>
          </ng-container>
          <ng-container matColumnDef="repeat_length">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Period</th>
            <td mat-cell *matCellDef="let hit">{{hit.repeat_length}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tandemColumns"></tr>
          <tr mat-row [id]="hit.row_id" *matRowDef="let hit; columns: tandemColumns"></tr>
        </table>
      </div>
      </div>
    </div>
  </dfam-loader>
</div>
