form > * {
  width: 100%;
}

.buttons > * {
  margin: 1em;
}

table {
  width: 100%;
}

.right {
  float: right;
}

h3 {
  background-color: #cccccc;
  margin-bottom: 0;
  padding: 0.5em;
}

tr:hover {
  background-color: #dddddd;
}

.hidden {
  display: none;
}
