<div class='dfam-home' fxLayout="row" fxFlex.gt-sm="50" fxFlexOffset.gt-sm="25">
  <div>
    <h2>Dfam release 3.0 (February 2019<span *ngIf="totalEntries !== undefined">,
      {{totalEntries}} entries</span>)
    </h2>
    <div>The Dfam database is a open collection of <b>DNA Transposable Element</b> sequence alignments, <b>hidden Markov Models (HMMs)</b>, <b>consensus sequences</b>, and genome annotations. 
    <a  (click)="showMore1=!showMore1">{{showMore1==false ? 'More...' : 'Less...'}}</a>
    </div>
    <br>
    <div [hidden]="!showMore1">
        Transposable elements (or interspersed repeats) account for a substantial portion of eukaryotic genomes. Accurate annotation of TEs enables research into their biology and can shed light on the evolutionary processes that shape genomes. Dfam represents a collection of multiple sequence alignments, each containing a set of representative members of a specific transposable element family. These alignments (seed alignments) are used to generate HMMs and consensus sequences for each family. The Dfam website gives information about each family, and provides genome annotations for a collection of core genomes. The HMM models, and consensus sequences may also be downloaded from the ftp site, for example to mask repeats in new genomes.
        <p></p>
    </div>
    <div>
      <h3>Quick Links</h3>
      <p>You can find data in Dfam in various ways...</p>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title color="primary">SEQUENCE SEARCH</mat-panel-title>
            <mat-panel-description>Analyze your DNA sequence for Dfam matches</mat-panel-description>
          </mat-expansion-panel-header>
          <dfam-loader [loading]="searchSubmitting">
            <div fxFlex.gt-sm="80" fxFlexOffset.gt-sm="32">
            <div>
              <mat-form-field fxFlex="100">
                <textarea matInput rows="10" cols="60" placeholder="Sequence" [(ngModel)]="searchSequence"></textarea>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
              <mat-form-field>
                <mat-select placeholder="Organism" name="organism" [(ngModel)]="searchSequenceAssembly">
                  <mat-option *ngFor="let assembly of assemblies" [value]="assembly.name">{{assembly.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;

              <button mat-raised-button class="accordian-button" color="primary" (click)="onSubmitSearch()">Go</button>
              &nbsp;
              <button mat-raised-button type="button" (click)="onExampleSearch()">Example</button>
            </div>
            </div>
          </dfam-loader>
          <p>
            This search will be run against all Dfam models (regardless of clade) using the
            trusted cut-off thresholds (stringent). You can set your own search parameters
            <a routerLink="/search/sequence">here</a>.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title color="primary">VIEW A DFAM ENTRY</mat-panel-title>
            <mat-panel-description>View Dfam entry annotation and alignments</mat-panel-description>
          </mat-expansion-panel-header>

          <div fxFlexOffset.gt-sm="32">
            <p>
            Enter an accession or name (e.g. DF0000001 or Harlequin) to see all data for that entry.
            </p>

            <form fxLayout="row">
              <mat-form-field fxFlex.gt-sm="80">
                <input matInput type="text" name="accession" placeholder="Accession" [(ngModel)]="gotoEntryTarget">
              </mat-form-field>
              &nbsp;
              <div fxLayoutAlign="space-around center">
              <button mat-raised-button color="primary" (click)="onGotoEntry()">Go</button>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>VIEW A SEQUENCE</mat-panel-title>
            <mat-panel-description>View pre-calculated annotations on a DNA sequence</mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="row">
            <form fxFlex.gt-sm="80" fxFlexOffset.gt-sm="32">

              <div>
                <mat-form-field>
                  <mat-select placeholder="Organism" name="organism" [(ngModel)]="annotations.assembly">
                    <mat-option *ngFor="let assembly of assemblies" [value]="assembly.id">{{assembly.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput placeholder="Chromosome" name="chromosome" [(ngModel)]="annotations.chromosome">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput placeholder="Start" name="start" [(ngModel)]="annotations.start">
                </mat-form-field>
                &nbsp;
                <mat-form-field>
                  <input matInput placeholder="End" name="end" [(ngModel)]="annotations.end">
                </mat-form-field>
              </div>

              <div>
                <button mat-raised-button color="primary" (click)="onGotoAnnotations()">Go</button>
                &nbsp;
                <button mat-raised-button type="button" (click)="onExampleAnnotations()">Example</button>
              </div>
            </form>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>KEYWORD SEARCH</mat-panel-title>
            <mat-panel-description>Query Dfam by keywords</mat-panel-description>
          </mat-expansion-panel-header>

          <form fxLayout.gt-sm="row">
            <mat-form-field fxFlex.gt-sm="80" fxFlexOffset.gt-sm="32">
              <input matInput type="text" name="keywords" placeholder="Keywords" [(ngModel)]="searchKeywords">
            </mat-form-field>
            &nbsp;
            <div fxLayout="row" fxLayoutAlign="start center">
              <button mat-raised-button color="primary" (click)="searchByKeywords()">Go</button>
              &nbsp;
              <button mat-raised-button type="button" (click)="searchKeywords='tigger'">Example</button>
            </div>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <hr>
    </div>

    <div id="citation">
      <h3>Citing Dfam</h3>
      <blockquote>
        <a href="http://nar.oxfordjournals.org/content/44/D1/D81.full" class="ext">The Dfam database of repetitive DNA families</a>
        <p>Robert Hubley; Robert D. Finn; Jody Clements; Sean R. Eddy; Thomas A. Jones; Weidong Bao; Arian F.A. Smit; Travis J. Wheeler<br>
        <span class="bold">Nucleic Acids Research</span> (2016) Database Issue 44:D81-89. doi: 10.1093/nar/gkv1272</p>
      </blockquote>
      <hr>
    </div>

    <div class="blog clearfix">
        <h3>Recent Dfam <a href="http://xfam.wordpress.com/tag/dfam/" class="ext">blog</a> posts</h3>
        <div *ngFor="let art of dfamBlogArticles">
          <a class="ext blog-article-title" href="{{art.link}}">{{art.title}}</a>
          <br>
          <span class="blog-article-date">{{art.date}}</span>
          <p>{{art.snippet}}</p>
        </div>
        <hr>
    </div>

   </div>
</div>
