<div offset-gt-sm="15">
<h2>2022</h2>

<p>
  <a href="https://www.science.org/doi/full/10.1126/science.abl4178">
  Complete Genomic and Epigenetic Maps of Human Centromeres.</a><br>
  Altemose, Nicolas, Glennis A. Logsdon, Andrey V. Bzikadze, Pragya Sidhwani, Sasha A. Langley, Gina V. Caldas, Savannah J. Hoyt, et al. <br>
  <strong>Science</strong> 376 (6588): eabl4178. 2022. https://doi.org/10.1126/science.abl4178
</p>

<p>
  <a href="https://academic.oup.com/nargab/article/4/2/lqac040/6586826">
  Accuracy of multiple sequence alignment methods in the reconstruction of transposable element families.</a><br>
  Hubley,R., Wheeler,T.J. and Smit,A.F.A.<br>
  <strong>NAR Genomics and Bioinformatics</strong>, 4, lqac040. 2022. https://doi.org/10.1093/nargab/lqac040
</p>

<p>
  <a href="https://www.mdpi.com/2073-4425/13/4/709">
  Methodologies for the De novo Discovery of Transposable Element Families.</a><br>
  Storer JM, Hubley R, Rosen J, Smit AFA.<br>
  <strong>Genes (Basel)</strong>, 2022 Apr 17;13(4):709. https://doi.org/10.3390/genes13040709
</p>

<p>
  <a href="https://www.mdpi.com/2075-1729/12/10/1655">
  Cebidae Alu Element Alignments and a Complex Non-Human Primate Radiation.</a><br>
  Storer JM, Walker JA, Brown MA, Batzer MA.<br>
  <strong>Life (Basel)</strong>. 2022 Oct 20;12(10):1655. https://doi.org/10.3390/life12101655
</p>

<p>
  <a href="https://academic.oup.com/nargab/article/4/4/lqac077/6749379?login=true">
  SODA: A TypeScript/JavaScript library for visualizing biological sequence annotation</a><br>
  J. W. Roddy, G. T. Lesica, and T. J. Wheeler<br>
  <strong>NAR Genomics and Bioinformatics</strong>, vol. 4, no. 4, Oct. 2022, https://doi.org/10.1093/nargab/lqac077
</p>


<h2>2021</h2>

<p>
  <a href="https://currentprotocols.onlinelibrary.wiley.com/doi/10.1002/cpz1.154">
    Curation guidelines for <em>de novo</em> generated transposable element families</a> (Free Access)
  <br>
  Jessica Storer, Robert Hubley, Jeb Rosen, Arian F. A. Smit<br>
  <strong>Current Protocols</strong>. 2021. https://doi.org/10.1002/cpz1.154<br>
  <a href="/assets/publications/2021-Current_Protocols-Curation_guidelines.pdf">Preprint</a>
</p>

<p>
  <a href="https://www.biorxiv.org/content/10.1101/2021.02.13.430877v1" class="ext">
    PolyA: a tool for adjudicating competing annotations of biological sequences</a> (Preprint)<br>
  Kaitlin M. Carey, Robert Hubley, George T. Lesica, Daniel Olson, Jack W. Roddy, Jeb Rosen, Audrey Shingleton, Arian F. Smit, Travis J. Wheeler<br>
  <strong>bioRxiv</strong>. 2021.02.13.430877. https://doi.org/10.1101/2021.02.13.430877
</p>

<p>
  <a href="https://mobilednajournal.biomedcentral.com/articles/10.1186/s13100-021-00232-4" class="ext">
    Transposable element subfamily annotation has a reproducibility problem</a> (Open Access)<br>
  Kaitlin M. Carey, Gilia Patterson, Travis J. Wheeler<br>
  <strong>Mobile DNA</strong>. 2021; 12: 4. https://doi.org/10.1186/s13100-021-00232-4
</p>

<p>
  <a href="https://mobilednajournal.biomedcentral.com/articles/10.1186/s13100-020-00230-y" class="ext">
    The Dfam community resource of transposable element families, sequence models, and genome annotations</a> (Open Access)<br>
  Jessica Storer, Robert Hubley, Jeb Rosen, Travis J. Wheeler, Arian F. Smit<br>
  <strong>Mobile DNA</strong>. 2021; 12: 2. https://doi.org/10.1186/s13100-020-00230-y
</p>

<h2>2018</h2>

<p>
  <a href="https://dl.acm.org/doi/10.1145/3233547.3233604" class="ext">
    ULTRA: A Model Based Tool to Detect Tandem Repeats</a> (Open Access)<br>
  Daniel Olson, Travis Wheeler<br>
<strong>ACM International Conference on Bioinformatics, Computational Biology, and Health Informatics</strong>. 2018. https://doi.org/10.1145/3233547.3233604
</p>

<h2>2016</h2>

<p>
  <a href="https://academic.oup.com/nar/article/44/D1/D81/2503084" class="ext">
    The Dfam database of repetitive DNA families</a> (Open Access)<br>
 Robert Hubley, Robert D. Finn, Jody Clements, Sean R. Eddy, Thomas A. Jones, Weidong Bao, Arian F.A. Smit, Travis J. Wheeler<br>
  <strong>Nucleic Acids Research</strong>. 2016; 44 (D1): D81–D89. https://doi.org/10.1093/nar/gkv1272
</p>

<h2>2013</h2>

<p>
  <a href="https://academic.oup.com/nar/article/41/D1/D70/1073076" class="ext">
    Dfam: a database of repetitive DNA based on profile hidden Markov models</a> (Open Access)<br>
   Travis J. Wheeler, Jody Clements, Sean R. Eddy, Robert Hubley, Thomas A. Jones, Jerzy Jurka, Arian F. A. Smit, Robert D. Finn<br>
  <strong>Nucleic Acids Research</strong>. 2013; 41 (D1): D70–D82. https://doi.org/10.1093/nar/gks1265
</p>
</div>
