<h2>2021</h2>

<p>
  <a href="/assets/publications/2021-Current_Protocols-Curation_guidelines.pdf">
    Curation guidelines for <em>de novo</em> generated transposable element families</a> (Preprint)
  <br>
  Jessica Storer, Robert Hubley, Jeb Rosen, Arian F. A. Smit<br>
  <strong>Current Protocols</strong>. In production.<br>
</p>

<p>
  <a href="https://www.biorxiv.org/content/10.1101/2021.02.13.430877v1" class="ext">
    PolyA: a tool for adjudicating competing annotations of biological sequences</a> (Preprint)<br>
  Kaitlin M. Carey, Robert Hubley, George T. Lesica, Daniel Olson, Jack W. Roddy, Jeb Rosen, Audrey Shingleton, Arian F. Smit, Travis J. Wheeler<br>
  <strong>bioRxiv</strong>. 2021.02.13.430877. https://doi.org/10.1101/2021.02.13.430877
</p>

<p>
  <a href="https://mobilednajournal.biomedcentral.com/articles/10.1186/s13100-021-00232-4" class="ext">
    Transposable element subfamily annotation has a reproducibility problem</a> (Open Access)<br>
  Kaitlin M. Carey, Gilia Patterson, Travis J. Wheeler<br>
  <strong>Mobile DNA</strong>. 2021; 12: 4. https://doi.org/10.1186/s13100-021-00232-4
</p>


<p>
  <a href="https://mobilednajournal.biomedcentral.com/articles/10.1186/s13100-020-00230-y" class="ext">
    The Dfam community resource of transposable element families, sequence models, and genome annotations</a> (Open Access)<br>
  Jessica Storer, Robert Hubley, Jeb Rosen, Travis J. Wheeler, Arian F. Smit<br>
  <strong>Mobile DNA</strong>. 2021; 12: 2. https://doi.org/10.1186/s13100-020-00230-y
</p>

<h2>2018</h2>

<p>
  <a href="https://dl.acm.org/doi/10.1145/3233547.3233604" class="ext">
    ULTRA: A Model Based Tool to Detect Tandem Repeats</a> (Open Access)<br>
  Daniel Olson, Travis Wheeler<br>
<strong>ACM International Conference on Bioinformatics, Computational Biology, and Health Informatics</strong>. 2018. https://doi.org/10.1145/3233547.3233604
</p>

<h2>2016</h2>

<p>
  <a href="https://academic.oup.com/nar/article/44/D1/D81/2503084" class="ext">
    The Dfam database of repetitive DNA families</a> (Open Access)<br>
 Robert Hubley, Robert D. Finn, Jody Clements, Sean R. Eddy, Thomas A. Jones, Weidong Bao, Arian F.A. Smit, Travis J. Wheeler<br>
  <strong>Nucleic Acids Research</strong>. 2016; 44 (D1): D81–D89. https://doi.org/10.1093/nar/gkv1272
</p>

<h2>2013</h2>

<p>
  <a href="https://academic.oup.com/nar/article/41/D1/D70/1073076" class="ext">
    Dfam: a database of repetitive DNA based on profile hidden Markov models</a> (Open Access)<br>
   Travis J. Wheeler, Jody Clements, Sean R. Eddy, Robert Hubley, Thomas A. Jones, Jerzy Jurka, Arian F. A. Smit, Robert D. Finn<br>
  <strong>Nucleic Acids Research</strong>. 2013; 41 (D1): D70–D82. https://doi.org/10.1093/nar/gks1265
</p>
